@import "base/typography";

$dk: #353459;
$lt: #ECF2E4;

html,body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background: $lt;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 1rem 0;
}

h3,h4,h4,h5,h6 {
  font-size: 1.5rem;
}

header {
  background: $dk;
  color: #fff;
  padding: 1.5rem;
}

header h1 {
  padding: 0;
}


main > div {
  padding: 1.5rem;
}

.intro {
  display: flex;
  padding: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  
  h2 {
    flex: 0 0 60%;
    margin-left: 5%;
  }
  
  figure {
    height: auto;
    flex: 0 0 35%;
    margin: 0;
    padding: 0;
    img {
      border-radius: 100%;
      width: 100%;
      max-width: 100%;
      border: 2px solid $dk;
      padding: 1px;
    }
  }  

  
  h3 {
    padding: 0;
    font-weight: normal;
    font-size: 1rem;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    
  }
  h3 span {
    flex: 1 1 100%;
    border-left: 2px solid darken($lt,20%);
    padding: 1rem .5rem;
  }
  
}