{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cape Cod Anxiety Panic Phobia Treatment</title>
    <meta name="description" content="Dr. Tokarz offers highly specialized treatment for all types of anxiety disorders. He is Board Certified in Behavioral Psychology and a Licensed Clinical Psychologist.">
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Physician",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "USA",
        "addressLocality": "Cotuit",
        "addressRegion": "Massachusetts",
        "postalCode": "02635",
        "streetAddress": "290 Main Street"
      },
      "email": "t.tokarz@comcast.net",
      "faxNumber": "508-420-4086",
      "name": "Anxiety Panic Phobia Treatment Center",
      "telephone": "508-428-5772",
      "founder": "Dr. Thomas P. Tokarz",
      "isAcceptingNewPatients": true
    }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div>
        <h1>
          <a href="index.html">
            Anxiety Panic Phobia Treatment Center
          </a>
        </h1>
        <h2>Thomas P. Tokarz, Ph.D. A.B.P.P.</h2>
        </div>
        <div class="contact-info">
            <span>
              <strong>phone:</strong><a href="tel:+15084285772">508-428-5772</a>
            </span>
            <span>
              <strong>fax:</strong>508-420-4086
            </span>
            <span>
              <strong>email:</strong><a href="mailto:t.tokarz@comcast.net" target="_blank">t.tokarz@comcast.net</a>
            </span>
          <br>
          <a href="https://goo.gl/maps/SbbAgMuzAAo" target="_blank">290 Main Street &middot; Cotuit, MA 02635</a>          
        </div>        
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
      <footer>
        <div class="contact-info">
          <h6>
            Anxiety Panic Phobia Treatment Center
          </h6>
            <span>
              <strong>phone:</strong><a href="tel:+15084285772">508-428-5772</a>
            </span>
            <span>
              <strong>fax:</strong>508-420-4086
            </span>
            <span>
              <strong>email:</strong><a href="mailto:t.tokarz@comcast.net" target="_blank">t.tokarz@comcast.net</a>
            </span>
          <br>
          <a href="https://goo.gl/maps/SbbAgMuzAAo" target="_blank">290 Main Street &middot; Cotuit, MA 02635</a>
        </div>
      </footer>
    </div>
  </body>
</html>
